<div class="container">
	<div class="sixteen columns">

		<a href="#menu" class="menu-trigger"><i class="fa fa-bars"></i> Menu</a>

		<nav id="navigation">
			<ul class="menu" id="responsive">

				<li><a (click)="goToHome()" class="current homepage" id="current">Home</a></li>

				<li class="dropdown">
					<a href="#">Kategory</a>
				</li>


				<li>
					<a href="#">Toko Saya</a>
				</li>


				<li class="dropdown">
					<a href="#">Transaksi</a>
				</li>

			</ul>
		</nav>
	</div>
</div>
